<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <mat-selection-list #navList [multiple]="false" (click)="selectNav(navList.selectedOptions.selected[0]?.value)">
        <mat-list-option *ngFor="let navItem of navItems" [value]="navItem">
          {{navItem}}
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
  
    <mat-drawer-content>
        <button mat-raised-button (click)="drawer.toggle()">〓</button>
        <app-grid [pageInfo]="pageInfo"></app-grid>
    </mat-drawer-content>
  
  </mat-drawer-container>